/node_modules
/public/js/app.js
public/css/app.css
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.devcontainer
public/mix-manifest.json
public/assets/
.DS_Store
package-lock.json
docs/
/backup-stories
/storybook-static
/dist
